.start-end-date {
    display: flex;
    gap: 16px
}

.start-date {
    width: 100%;
}

.end-date {
    width: 100%;
}

@media only screen and (max-width: 450px) {
    .start-end-date {
        display: block;
    }
}